:root {
  --white: #ffffff;
  --gray0: rgb(214, 214, 214) #f5f5f5;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #222222;
  --gray4: #7a7a7a;
  --gray5: #c4c4c4;

  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --lightblue: rgb(127, 238, 253);
  --cyan: #ff245b;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
}

body {
  font-family: "Lato", sans-serif;
  color: #6e6e6e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
}
.section-title {
  color: var(--cyan);
  font-weight: bold;
}

.navbar {
  position: fixed;
  margin: 0 auto;
  padding: 30px 0;
  background-color: var(--gray3);
}

.navbar .navbar-brand {
  position: absolute;
  top: 0;
  background-color: var(--cyan);
  padding: 20px 10px 0px 10px;
  margin-bottom: 100px;
  display: inline-block;
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
}

.navbar .nav-link {
  position: relative;
  display: inline-block;
  justify-content: center;
  color: var(--white);
  padding: 15px 30px !important;
  margin-left: 100px;
  transition: all 0.3s ease;
  font-size: 19px;
}

.navbar .nav-link:hover {
  color: var(--cyan);
  text-decoration: none;
}

.navbar .navbar-toggler {
  color: var(--white);
  margin-left: auto;
}

#intro {
  background-color: #222222;
  padding: 150px 0px 50px;
}

#intro h1 {
  color: var(--white);
  font-weight: 900;
}

#intro h1 span {
  color: var(--cyan);
}

#intro .dinamic-list ul {
  padding: 0;
}

#intro .dinamic-list li {
  list-style: none;
  color: var(--white);
  font-size: 60px;
}

#intro .img img {
  padding-top: 10px;
  width: 100%;
}

.word-container {
  color: var(--white);
  font-size: 40px;
  font-weight: bold;
}
#intro .word-container .cursor {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#intro p {
  margin: 30px 0px;
  font-size: 20px;
  color: var(--white);
}

#about {
  background-color: var(--white);
  padding: 50px 0px;
}

#about .date {
  color: var(--black);
  font-weight: 600;
}

#about .corses {
  padding: 40px;
}

#about .corses p {
  margin-bottom: 0;
}

#about .corses {
  margin-bottom: 0;
}

#about .corses-title {
  color: var(--cyan);
  font-weight: bold;
  font-size: 30px;
  padding-top: 40px;
}

#about .corses .item {
  border-left: 2px solid var(--cyan);
  padding: 40px;
  padding-bottom: 20px;
  position: relative;
}

#about .corses .item h3 {
  font-size: 20px;
}

#about .corses .item .code {
  font-size: 25px;
}

#about .corses .item .date::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--cyan);
  display: block;
  position: absolute;
  left: 0px;
  top: 3.1rem;
}

#about .corses .item .date::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border: 2px solid var(--cyan);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -11px;
  top: 2.6rem;
}

#about .corses .code {
  font-weight: 600;
  color: var(--cyan);
  font-size: 1.3rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

#skills {
  background-color: var(--gray3);
  padding: 50px 0px;
}
#skills .container .section-title {
  color: var(--cyan);
  text-align: center;
  font-size: 20px;
}

#skills .container p {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: var(--white);
  padding-bottom: 40px;
}

#skills .container .skill h4 {
  color: var(--cyan);
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 30px;
}

#skills .container .skill .skill-label {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  color: var(--white);
  padding-bottom: 10px;
}

#skills .container .progress {
  margin-bottom: 20px;
  background-color: rgb(80, 80, 80);
  border-radius: 10px;
  margin-bottom: 20px;
}

#skills .progress-bar {
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
}

#projects {
  padding: 50px 0px;
}
#projects .project-name {
  color: var(--cyan);
  font-weight: bold;
}

.project-item {
  position: relative;
  overflow: hidden;
}

.modal-title {
  color: var(--cyan); /* Ensures the title is black */
  font-weight: bold;
  font-size: 30px;
}

.project-item img {
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.project-item:hover img {
  transform: scale(1.1);
  filter: brightness(0.2);
}

.project-item .project-info {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the content */
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-item:hover .project-info {
  opacity: 1;
}

.project-info a {
  display: inline-block;
  margin: 10px; /* Adds spacing between icons */
}

.project-info i {
  font-size: 24px; /* Adjust icon size */
  color: var(--white);
}

.project-info p {
  margin: 20px 0;
  width: 250px;
  height: 30px;
  font-size: 20px;
  color: var(--white);
  background-color: #f12d3e;
  border-radius: 10px;
}

#contact {
  background-color: var(--gray3);
  padding: 50px 0px;
}

#contact .container .section-title {
  color: var(--cyan);
  text-align: center;
  font-size: 20px;
}
#contact .container h3 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: var(--white);
}
#contact .container h3 span {
  color: var(--cyan);
}

#contact .container .form-group label {
  color: var(--white);
  font-size: 20px;
}

#contact .container .form-group input,
#contact .container .form-group textarea {
  background-color: var(--gray3);
  color: var(--white);
}

#contact .container .button {
  width: 100%;
  font-size: 20px;
  display: flex;
  padding: 30px 0px;
  justify-content: center;
}

#contact .container .button .submit {
  background-color: var(--cyan);
  color: var(--white);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bolder;
  border: none;
}
#contact .contacts {
  padding: 100px 0px;
  text-align: center;
}

#contact .contacts .social-media a i {
  font-size: 2rem;
  padding: 20px;
  padding-bottom: 30px;
  color: var(--cyan);
}

#contact .contacts .item h4 {
  padding: 20px;
  font-size: 20px;
}

#contact .contacts .item span {
  padding: 20px;
  color: var(--cyan);
  font-size: 30px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  .section-title {
    font-size: 1.5rem;
    position: relative;
    padding-top: 20px;
  }
 
  #intro .container {
    padding: 0px 40px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 10px;
  }
  #intro {
    padding-bottom: 0;
  }
  #intro .container {

    display: flex;
    gap: 30px;
  }
  #intro .text {
    width: 50%;
  }
  #intro .img {
    margin-bottom: -50px;
    width: 50%;
  }
  #intro h1 {
    position: relative;
  }

}