:root {
  --white: #ffffff;
  --gray0: rgb(214, 214, 214) #f5f5f5;
  --gray1: #202020;
  --gray2: #383838;
  --gray3: #636363;
  --gray4: #7a7a7a;
  --gray5: #c4c4c4;

  --black: #080808;
  --lightblue: rgb(127, 238, 253);
  --magenta: #ff245b;
  --olive: #808000;
  --olvi: #cccc05;
  --tea: #d0f0c0;
}

body {
  font-family: "Lato", sans-serif;
  color: #6e6e6e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
}

.section-title {
  color: var(--olvi);
  font-weight: bold;
}

.navbar {
  position: fixed;
  margin: 0 auto;
  padding: 20px 0;
  background-color: var(--gray2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navbar .navbar-brand {
  position: absolute;
  top: 0;
  background-color: var(--olive);
  padding: 20px 10px 0px 10px;
  margin-left: 20px;
  margin-bottom: 100px;
  display: inline-block;
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
}

.navbar .nav-link {
  position: relative;
  display: inline-block;
  justify-content: center;
  color: var(--white);
  padding: 15px 30px;
  margin-left: 100px;
  transition: all 0.3s ease;
  font-size: 19px;
}

.navbar .nav-link:hover {
  color: var(--olive);
  text-decoration: none;
}

.navbar .navbar-toggler {
  color: var(--white);
  margin-left: auto;
}

#intro {
  background-color: var(--gray3);
  padding: 150px 0px 50px;
}

#intro h1 {
  color: var(--white);
  font-weight: 900;
}

#intro h1 span {
  color: var(--olvi);
}

#intro .dinamic-list ul {
  padding: 0;
}

#intro .dinamic-list li {
  list-style: none;
  color: var(--white);
  font-size: 60px;
}

#intro .img img {
  padding-top: 10px;
  width: 100%;
}

.word-container {
  color: var(--white);
  font-size: 40px;
  font-weight: bold;
}
#intro .word-container .cursor {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#intro p {
  margin: 30px 0px;
  font-size: 20px;
  color: var(--white);
}

#about {
  background-color: var(--grey4);
  padding: 50px 0px;
}

#about .date {
  color: var(--black);
  font-weight: 600;
}

#about .corses {
  padding: 40px;
}

#about .corses p {
  margin-bottom: 0;
}

#about .corses {
  margin-bottom: 0;
}

#about .corses-title {
  color: var(--magenta);
  font-weight: bold;
  font-size: 30px;
  padding-top: 40px;
}

#about .corses .item {
  border-left: 2px solid var(--magenta);
  padding: 40px;
  padding-bottom: 20px;
  position: relative;
}

#about .corses .item h3 {
  font-size: 20px;
}

#about .corses .item .code {
  font-size: 25px;
}

#about .corses .item .date::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--magenta);
  display: block;
  position: absolute;
  left: 0px;
  top: 51px;
}

#about .corses .item .date::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border: 2px solid var(--magenta);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -11px;
  top: 40px;
}

#about .corses .code {
  font-weight: 600;
  color: var(--magenta);
  font-size: 100px;
  padding: 20px 0px;
}

#skills {
  background-color: var(--gray3);
  padding: 50px 0px;
}

#skills .section-title {
  color: var(--olvi);
  text-align: center;
  font-size: 40px;
}

#skills h3 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: var(--white);
  padding-bottom: 40px;
}

#skills .container p {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: var(--white);
  padding-bottom: 40px;
}

#skills .container .skill h4 {
  color: var(--olvi);
  font-weight: bold;
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
}

#skills .container .skill .skill-label {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  color: var(--white);
  padding-bottom: 10px;
}

#skills .container .progress {
  margin-bottom: 20px;
  background-color: rgb(80, 80, 80);
  border-radius: 10px;
  margin-bottom: 20px;
}

#skills .progress-bar {
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
}

#projects {
  padding: 50px 0px;
  background-color: var(--grey4);
}

#projects .section-title {
  color: var(--magenta);
  font-size: 40px;
  padding-bottom: 30px;
}

#projects h2 {
  color: var(--magenta);
  font-weight: bold;
}

#projects .container .carousel-caption a {
  color: var(--gray2);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

#projects .container .carousel-caption a:hover {
  color: var(--magenta);
}

#projects .container .carousel-caption p {
  margin: 0 auto;
  width: 250px;
  height: 30px;
  font-size: 20px;
  color: var(--white);
  background-color: var(--gray2);
  border-radius: 10px;
}

#projects .carousel-control-prev-icon,
#projects .carousel-control-next-icon {
  background-color: var(--gray2);
  width: 50px;
  height: 50px;
}

#contact {
  background-color: var(--gray3);
  padding: 50px 0px;
}

#contact .section-title {
  color: var(--olvi);
  text-align: center;
  font-size: 40px;
}
#contact h3 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: var(--white);
  padding-bottom: 40px;
}
#contact h3 span {
  color: var(--olvi);
}

#contact .container .form-group label {
  color: var(--white);
  font-size: 20px;
}

#contact .form-group input,
#contact .form-group textarea {
  background-color: var(--gray3);
  color: var(--white);
}

#contact .button {
  width: 100%;
  font-size: 20px;
  display: flex;
  padding: 30px 0px;
  justify-content: center;
}

#contact .button .submit {
  background-color: var(--olive);
  color: var(--white);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bolder;
  border: none;
}
#contact .contacts {
  padding: 100px 0px;
  text-align: center;
}

#contact .contacts .social-media a i {
  font-size: 40px;
  padding: 20px;
  padding-bottom: 30px;
  color: var(--olvi);
}

#contact .contacts .item h4 {
  padding: 20px;
  font-size: 20px;
}

#contact .contacts .item span {
  padding: 20px;
  color: var(--olvi);
  font-size: 30px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  #intro .word-container {
    font-size: 40px;
  }
  .section-title {
    font-size: 40px;
    position: relative;
    padding-top: 20px;
  }

  #intro .container {
    padding: 0px 40px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 50px;
  }
  #intro {
    padding-bottom: 0;
  }

  #intro .container {
    display: flex;
    gap: 30px;
  }
  #intro .text {
    width: 50%;
  }
  #intro .img {
    margin-bottom: 50px;
    width: 50%;
  }
  #intro h1 {
    position: relative;
  }

  #navbar {
    padding: 5px;
  }
}

@media (min-width: 1200px) {
  #intro .about-me {
    padding-top: 15px;
  }

  #intro .img {
    margin-bottom: 50px;
    margin-left: 100px;
    width: 30%;
  }
}
